html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-y: hidden;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

.App-logo {
  height: 24px;
}

.App-header {
  background-color: #222;
  height: 30px;
  padding: 3px;
  color: white;
  flex-shrink: 0;
}

.App-content {
  flex-grow: 1;
  height: 100vh;
  display: flex;
  overflow-y: hidden;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Boards-wrapper {
  width: 180px;
  overflow-y: auto;
}

.Catalog-wrapper {
  width: 260px;
  display: flex;
  flex-direction: column;
}

.Thread-wrapper {
  flex: 1;
  display: flex;
  overflow-y: hidden;
  flex-direction: column;
}

.Thread-tab {
  display: flex;
  flex-shrink: 0;
  height: 48px;
}

.Thread-content {
  display: flex;
  flex: 1;
}

.active {

}